html {
  background: #F0F0F0;
  color: #040000;
  text-align: center;
  user-select: none;
}

body {
  background: #fff;
  text-align: center;
  margin: 2em;
  padding-bottom: 1em;
}

h1, h2, h3 {
  font-size: 1em;
}

#profile {
  margin-bottom: 3em;
}

.icon {
  max-width: 200px;
  width: 50%;
  max-height: 200px;
  height: 50%;
  border-radius: 50%;
  margin-top: 2em;
  pointer-events: none;
}