.window {
  color: rgb(240, 255, 255);
  background-color: rgb(0, 215, 215, 0);
  border: solid  rgb(0, 215, 215);
  user-select: none;
  width: 650px;
}

.window-title-bar {
  background-color: rgb(40, 91, 138, 0.98);
  padding: 0em 0em 0.5em;
  font-size: 1.5em;
}

.window-title-bar > .none {
  display: inline-block;
}

.window-title-bar > .icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0.05em 0.1em 0em;
  text-shadow: 
       1px  1px 0px #ff4800ee,
      -1px -1px 0px #0099ff99; 
}

.window-title-bar > .title {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.2em;
  text-shadow: 
       1px  1px 0px #000000aa,
      -1px  1px 0px #000000aa,
       1px -1px 0px #000000aa,
      -1px -1px 0px #000000aa,
       1px  0px 0px #000000aa,
       0px  1px 0px #000000aa,
      -1px  0px 0px #000000aa,
       0px -1px 0px #000000aa; 
}

.window-content {
  background-color: rgb(24, 34, 44, 0.9);
  padding: 0.5em 0.5em 1em;
  font-size: 1.0em;
}

.window-content > .icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0em 0.1em 0.5em;
  text-shadow: 
       1px  1px 0px #ff4800ee,
      -1px -1px 0px #0099ff99; 
}

.btn {
  color: #fafafa;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1em;
  padding-right: 94%;
  text-decoration: none;
  border: none;
  text-shadow: 
       1px  1px 0px #000000aa,
      -1px  1px 0px #000000aa,
       1px -1px 0px #000000aa,
      -1px -1px 0px #000000aa,
       1px  0px 0px #000000aa,
       0px  1px 0px #000000aa,
      -1px  0px 0px #000000aa,
       0px -1px 0px #000000aa; 
}

.btn:hover {
  outline: solid  rgb(0, 215, 215);
  background-color: rgb(46, 92, 138);
}